.button_type_hire {
  background: none repeat scroll 0 0 #50626C;
  border-color: #50626C;
  border-radius: 0;
  color: #ffffff;
  font-size: 13px;
  margin: 15px auto 5px;
  padding: 15px 50px;
  text-transform: uppercase;

  &:hover {
    background:#FFFFFF;
    text-transform: uppercase;
    color:#50626C;
    border-color:#50626C;
  }

  &:after {
    content:'\f1d8';
    color: #50626C;
  }
}
