.profile {
  background: none repeat scroll 0 0 #f2f2f2;
  padding: 0;
  position: relative;
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .profile {
    padding: 0;
  }
}
