.facts__item {
  border-right: 2px solid #fff;
  color: #fff;
  display: inline-block;
  margin: 30px auto;
  padding: 5px 0;
  min-height: 160px;
  text-align: center;
  vertical-align: top;
  width: 20%;

  &:last-child {
    border-right:2px transparent;
  }
}

/* screenwidth less than 960px
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .facts__item {
    border-right: 1px solid #fff;
  }
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .facts__item {
    border-right: none;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
    width: 100%;
    min-height: 0;

    &:last-child {
      border-bottom: transparent;
    }
  }
}

