.profile__bio {
  background: url("../img/bg-4.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
  display:block;
  min-height:550px;
  margin:0 auto;
  position:relative;
  z-index:2;
}

/* screenwidth less than 960px
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .profile__bio {
    padding: 0;
  }
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .profile__bio {
    width: 100%;
    min-height: 0;
    padding: 0;
  }
}
