.profile__bio {
  background: no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(255,255,255, .4), rgba(255,255,255, .8)), url("img/bg-4.jpg");
  display:block;
  min-height:665px;
  padding-right: 35px;
  margin:0 auto;
  position:relative;
  z-index:2;
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .profile__bio {
    width: 100%;
    min-height: 0;
  }
}
