.portfolio-popup {
  background:none repeat scroll 0 0 #fff;
  color:#333;
  margin:0 auto;
  max-width:550px;
  padding-bottom:20px;
  position:relative;
  width:auto;
}

.mfp-close {
  background: #3f3f46;
  color: #fff;
}
