.contacts-location__address {
  background: none repeat scroll 0 0 #fe7c60;
  min-height: 400px;
  padding: 100px 0;
  position: relative;
}

/* screenwidth less than 960px (Mobile wide/Smaller Tablets)
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .contacts-form__address {
    float: none;
    min-height: 250px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

/* Mobile wide/Smaller Tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .contacts-form__address {
    padding: 60px 0;
  }
}

/* Medium Screen Mobile
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
  .contacts-form__address {
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    width: 36px;
  }
}
