.contacts-form__title {
  color: #3f3f46;
  font-family: "Lora",serif;
  font-size: 24px;
  font-style: italic;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}

/* Mobile wide/Smaller Tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .contacts-form__title {
    font-size: 24px;
    padding: 10px;
  }
}
