$link-color: #9e1c51;
$link-hover-color: #4f0e28;
$link-active-color: #c47696;

.link {
  color:$link-color;
  text-decoration:none;

  &:hover,
  &:active,
  &:focus {
    outline: none!important;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }

}
