.profile__bio-inner {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
  height: 100%;
  left: 0;
  padding: 50px 30px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* screenwidth greater than 1400px
--------------------------------------------------------------------- */
@media only screen and (min-width: 1401px) {
  .profile__bio-inner {
    padding: 70px 30px;
  }
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .profile__bio-inner {
    padding: 40px 20px;
    position: absolute;
  }
}

/* screenwidth less than 960px
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .profile__bio-inner {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
    height: 100%;
    min-height: 560px;
    left: 0;
    padding: 40px 20px;
    position: relative;
    top: 0;
    width: 100%;
  }
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .profile__bio-inner {
    min-height: 0;
    padding: 40px 0;
  }
}
