extends ../layout.jade

block content
  +preloader()

  // page container
  main.page-container
    // profile
    +single-page("Профиль", "Информация обо мне...", "fa-user")
      section.grid__row.profile
        // profile title
        .grid.grid__cell-sm_size_5.grid__cell-sm_offset_1.profile__title
          img.avatar.profile__avatar(src="img/avatar.jpg" alt="Аникейчик Дмитрий - web разработчик")
          h2.heading.heading_size_xl.profile__name Аникейчик Дмитрий
          h3.heading.heading_size_l.profile__occupation Web разработчик
        // profile title end

        // profile bio
        .grid.grid__cell-sm_size_6.profile__bio
          h3.heading.heading_size_m.profile__heading Web - разработчик из Санкт - Петербурга
          p.profile__text
            | Здравствуйте! Большое спасибо, что посетили мой сайт. Меня зовут Дмитрий. Я проживаю в Санкт - Петерубугре и в данный момент ищу работу в качестве
            | web разработчика или front - end специалиста. Я хорошо знаком с такими технологиями как <span class="profile__text_accented">HTML5, CSS3, JavaScript</span>.  Помимо этого я имею базовые знания и понимание таких серверных технологий как:
            | <span class="profile__text_accented">Nodejs, Ruby on Rails, PHP<span class="profile__text_accented">.
          p.profile__text Для повышения производительности своей работы я использую следующие вспомогательные инструменты: препроцессор <span class="profile__text_accented">SASS</span> - для ускорения написания CSS, шаблонный движок <span class="profile__text_accented">Jade</span>
            | для ускорения написания  HTML, <span class="profile__text_accented">Gulp</span> - инструмент для автоматизации и сборки проекта.
          p.profile__text В качестве основной методологии для написания кода я использую <span class="profile__text_accented">БЭМ</span>, причем не только в плане наименования классов, но и в плане организации проекта на файловой системе. Каждую страницу я разбиваю на блоки ( папки )
            | в которых хранится CSS, JS, Jade код для каждого блока. После этого код отдельных блоков собирается c помощью Gulp в единые файлы стилей, скриптов и html. Это позволяет соблюдать модульный принцип организации файлов.
          p.profile__text
            | В свободное время я люблю заниматься спортом, а также изучать английский язык. Иногда провожу экскурсии по Санкт - Петербургу для иностранных туристов.
            | На своем будущем месте работы, прежде всего я бы хотел получить практический опыт, т.к. получил много знаний на различных курсах, но не имею большого практического опыта их применения.
          .profile__buttons
            a.link.button.button_type_hire.profile__button(href="mailto:dima716@yandex.ru") Связаться
            a.link.button.button_type_resume.profile__button(href="resume.pdf", target="_blank") Скачать резюме
        // profile bio end

      // facts
      +facts([
        { title:'<i class="fa fa-bicycle facts__icon"></i>', description:'Люблю активный отдых' },
        { title:'<i class="fa fa-language facts__icon"></i>', description:'Знаю английский на уровне upper-intermediate' },
        { title:'<i class="fa fa-book facts__icon"></i>', description:'Постоянно изучаю новые технологии' },
        { title:'<i class="fa fa-users facts__icon"></i>', description:'Участвую в конференциях разработчиков' }
      ])
      // facts end
    // profile end

    // resume
    +single-page("Резюме", "Образование и опыт работы...", "fa-file-text")
      section.grid__row.resume
          .grid.grid_fixed
            .resume__icon
            // education
            .grid.grid__cell-xs_size_6.education
              h2.heading.heading_size_xl.education__heading - Образование -
              +education([
                {
                  schoolName: '<a class="link" href="https://academy.yandex.ru/events/shri/" target="_blank" title="Yandex">Yandex</a>',
                  degree: 'Школа разработки интерфейсов в Минске',
                  dates: "2014 Ноябрь",
                  description: 'После выполнения тестовых заданий, я получил приглашение на прохождение обучения в ШРИ в минском офисе компании. Обучение длилось месяц. Результатом обучения было получение обширных знаний по front-end разработке, опыта командной разработки, используя Git, а также знакомство с методологией БЭМ. Финальный проект можно посмотреть на <a class="link" href="https://github.com/yandex-shri-minsk-2014/team-2" target="_blank">github</a>'
                },
                {
                  schoolName: '<a class="link" href="http://loftblog.ru" target="_blank" title="Loftblog">Loftblog</a>',
                  degree: 'Комплексное обучение веб-разработке',
                  dates: 'Август 2014 - Ноябрь 2014',
                  description: 'На данных курсах я более углубленно изучил javascript, научился писать модульный javascript. Также получил представление о шаблонных системах на стороне клиента. Результатом обучения на этих курсах была разработка трех выпускных проектов, ознакомиться с которыми можно в портфолио. <a class="link" href="img/lb-certificate.jpg">Сертификат окончания</a>'
                },
                {
                  schoolName: '<a class="link" href="http://epixx.ru/" target="_blank" title="Epic Skills">Epic Skills</a>',
                  degree: 'Базовый курс HTML5 & CSS3',
                  dates: 'Сентябрь 2013',
                  description: 'В Epic Skills я получил базовые сведения о  HTML и CSS, в частности: блочные и строчные элементы, абсолютное и отностительное позиционирование, блочная модель документа, нарезка графики в Photoshop и др. Также я познамкомился со стандартом HTML5 и новыми свойствами, которые предоставляет CSS3'
                },
                {
                  schoolName: 'СПБГПУ',
                  degree: 'Бакалавриат',
                  dates: '2009 - 2013',
                  description: 'Окончил Политехнический университет по направлению "Информатика и вычислитеьная техника". На 3 и 4 курсе занимался поддержкой и разработкой кафедрального сайта.'
                }
              ])
            // education end

            // employment
            .grid.grid__cell-xs_size_6.employment
              h2.heading.heading_size_xl.employment__heading - Работа -
              +employment([
                {
                  companyName: '<a class="link" href="http://itloft.ru/" title="IT Loft" target="_blank">IT Loft</a>',
                  position: 'Стажер веб-разработчик',
                  dates: 'Декабрь 2014',
                  description: 'После прохождения обучения в LoftBlog, я получил приглашение пройти стажировку в IT Loft, web - студии, которая принадлежит сооснователям LoftBlog. В процессе стажировки мне удалось применить полученные знания на практике, а также познакомиться с работой web - студии.'
                },
                {
                  companyName: '<a class="link" href="http://roboforex.ru/" title="Roboforex" target="_blank">Roboforex</a>',
                  position: 'Web - мастер',
                  dates: 'Октябрь 2013 - Июнь 2013',
                  description: 'Моими основными обязанностями на данном месте работы являлись добавление и редактирование контента на сайтах компании через систему управления контентом. Также я занимался рефакторингом CSS и HTML кода. За время работы мне удалось убедить руководство создать подобие style guide для написания html и css, что существенно ускорило работу как web - мастеров, так и контент - менеджеров.'
                }
              ])
            // employment end
      // skills
      section.grid__row.skills
        .skills__icon
        h2.heading.heading_size_xl.skills__heading Мои навыки
          .grid.skills__grid
            .grid__row
              +skills([
                  { name:'Semantic HTML5 & CSS3',height: 150, id: 'html_css', width: 150 },
                  { name:'JavaScript',height: 150, id: 'javascript', width: 150 },
                  { name:'jQuery',height: 150, id: 'jquery', width: 150 },
                  { name:'BEM',height: 150, id: 'bem', width: 150 },
                  { name:'Gulp',height: 150, id: 'gulp', width: 150 },
                  { name:'Photoshop',height: 150, id: 'photoshop', width: 150 },
                  { name:'PHP',height: 150, id: 'php', width: 150 },
                  { name:'MySQL',height: 150, id: 'mysql', width: 150 },
                  { name:'Linux',height: 150, id: 'linux', width: 150 }
              ])
      // skills end
    // resume end

    // portfolio
    +single-page("Портфолио", "Некоторые из моих работ...", "fa-briefcase")
      .grid__row.portfolio
        .portfolio__grid
          // portfolio controls
          .portfolio__controls
            button.portfolio__filter.portfolio__filter_is-active(data-filter="all") Все работы
            button.portfolio__filter(data-filter=".category-layouts") Макеты
            button.portfolio__filter(data-filter=".category-sites") Сайты
          // portfolio controls end
          .portfolio__list#portfolio
            +portfolio([
              {
                'data-myorder': '1',
                'category': 'category-sites',
                'img-thumb': 'img/portfolio/thumb/website-lonelytweets_thumb.jpg',
                'title-thumb': 'Одинокие твиты',
                'description-thumb': 'Приложение',
                'id': 'portfolio1',
                'img-full': 'img/portfolio/website-lonelytweets.jpg',
                'title-full': 'Одинокие твиты',
                'description-full': 'Данное приложение взаимодействует c Twitter API и получает твиты, которые содержат слова "одинокий, одиночество" и отображает их на странице. Для обращения к Twitter API используется NodeJS  на серверной стороне. Запрос твитов от клиента осуществляется через Ajax методом long - polling вызовов.',
                'url': 'https://lonely-tweets.herokuapp.com'
              },
              {
                'data-myorder': '2',
                'category': 'category-sites',
                'img-thumb': 'img/portfolio/thumb/website-taturukava_thumb.jpg',
                'title-thumb': 'Тату рукава',
                'description-thumb': 'Интернет магазин',
                'id': 'portfolio2',
                'img-full': 'img/portfolio/website-taturukava.jpg',
                'title-full': 'Тату рукава',
                'description-full': 'Одностраничный интернет - магазин с адаптивным дизайном. Данные о товарах хранятся в отдельном json файле на сервере. При загрузке сайта эти данные запрашиваются через Ajax и с помощью шаблонной системы Moustache отображаются на стороне клиента. Также реализована логика добавления товара в корзину и расчета конечной стоимости заказа.',
                'url': 'http://www.tatu-rukava.ru'
              },
              {
                'data-myorder': '4',
                'category': 'category-sites',
                'img-thumb': 'img/portfolio/thumb/website-rossi_thumb.jpg',
                'title-thumb': 'Росси',
                'description-thumb': 'Сайт строительной компании',
                'id': 'portfolio3',
                'img-full': 'img/portfolio/website-rossi.jpg',
                'title-full': 'Росси',
                'description-full': 'Сайт строительной компании, который был выполнен во время прохождения стажировки в web студии IT Loft. В качестве исходников были представлены PSD файлы макета сайта. Далее были сверстаны статичные страницы и полученная верстка установлена на CMS Joomla.',
                'url': 'http://anikeychik.ru/works/maket-rossi'
              },
              {
                'data-myorder': '3',
                'category': 'category-sites',
                'img-thumb': 'img/portfolio/thumb/website-cssbtngenerator_thumb.jpg',
                'title-thumb': 'Css генератор кнопки',
                'description-thumb': 'Приложение',
                'id': 'portfolio4',
                'img-full': 'img/portfolio/website-cssbtngenerator.jpg',
                'title-full': 'Css генератор кнопки',
                'description-full': 'Css генератор кнопки, который позволяет, изменяя определенные css свойства, получить исходный html и css код кнопки, который затем может быть отправлен на электронную почту.',
                'url': 'http://anikeychik.ru/works/cssbutton'
              },
              {
                'data-myorder': '5',
                'category': 'category-sites',
                'img-thumb': 'img/portfolio/thumb/placeholder_thumb.jpg',
                'title-thumb': 'Флэшкарточкер',
                'description-thumb': 'Приложение',
                'id': 'portfolio5',
                'img-full': 'img/portfolio/placeholder.jpg',
                'title-full': 'Флэшкарточкер',
                'description-full': 'Флэшкарточкер - приложение для изучения английских слов с помощью флэш карточек. Приложение написано на фреймворке Ruby on Rails. В процессе работы над данным приложением я изучил основные возможности фреймворка, познакомился с моделью MVC, а также узнал о практиках написания ruby кода при создании приложений на Ruby on Rails. Данное приложение разрабатывалось совместно с профессиональным ruby разработчиком, который выступал в качестве ментора.',
                'url': 'https://flashcards716.herokuapp.com'
              },
              {
                'data-myorder': '1',
                'category': 'category-layouts',
                'img-thumb': 'img/portfolio/thumb/maket-fitness_thumb.jpg',
                'title-thumb': 'Fitness',
                'description-thumb': 'Макет',
                'id': 'portfolio6',
                'img-full': 'img/portfolio/maket-fitness.jpg',
                'title-full': 'Fitness',
                'description-full': 'Адаптивный макет на тематику фитнесса.',
                'url': 'http://anikeychik.ru/works/maket-fitness'
              },
              {
                'data-myorder': '2',
                'category': 'category-layouts',
                'img-thumb': 'img/portfolio/thumb/maket-loftblog_thumb.jpg',
                'title-thumb': 'Revolver',
                'description-thumb': 'Макет',
                'id': 'portfolio7',
                'img-full': 'img/portfolio/maket-loftblog.jpg',
                'title-full': 'Revolver',
                'description-full': 'Адапативный макет, выполненный в рамках обучения на курсах Loftblog, который получил оценку 8 из 10.',
                'url': 'http://anikeychik.ru/works/maket-loftblog'
              }
            ])

    // portfolio end

    // contacts
    +single-page("Контакты", "Как меня найти...", "fa-paper-plane")
      .grid__row.contacts
        // contacts form
        section.grid__row.contacts-form
          .contacts-form__icon
          h2.heading.heading_size_xl.contacts-form__title Напишите мне, пожалуйста...
          .grid.grid__cell-sm_size_8.grid__cell-sm_offset_2.grid__cell-md_size_6.grid__cell-md_offset_3.contacts-form__grid
            form(action="#", id="contactsForm", method="post", name="contactsForm")
              fieldset
                .grid__cell-xs_size_12.grid__cell-sm_size_6
                  input(id="contactsName", class="contacts-form__input", name="contactsName", placeholder="Имя_", size="35", type="text", value="")
                .grid__cell-xs_size_12.grid__cell-sm_size_6
                  input(id="contactsEmail", class="contacts-form__input", name="contactEmail", placeholder="Email_", size="35", type="email", value="")
                .grid__cell-xs_size_12
                  textarea(id="contactsMessage", class="contacts-form__message-box", name="contactsMessage", placeholder="Message_", cols="5", rows="5")
                .grid__cell-xs_size_12
                  .message.message_type_warning Ошибка чувак
                  button.contacts-form__submit Отправить <i class="fa fa-angle-right message__icon"></i>
                    span.contacts-form__loader
                      img(alt="Отправляем...", src="img/svg-loaders/mail-loader.svg")

        .message.message_type_success.message_size_big
          <i class="fa fa-check message__icon"></i> Your message was sent, thank you!
        // contacts form end

        // contacts-location
        section.grid__row.contacts-location
          .grid__cell-md_size_6.contacts-location__address
            // address
            .grid__row.address
              .grid__cell-md_size_12.grid__cell-lg_size_10.grid__cell-lg_offset_1
                ul.address__list
                  li.address__item
                    img(class="address__icon", src="img/icons/location-map.svg", alt="Dhaka, Bangladesh")
                    h4.heading.heading_size_l.address__heading Dhaka, Bangladesh
                  li.address__item
                    img(class="address__icon", src="img/icons/phone-icon.svg", alt="+880 123 456 789")
                    h4.heading.heading_size_l.address__heading +880 123 456 789
                  li.address__item
                    img(class="address__icon", src="img/icons/email-icon.svg", alt="mail@rupok.me")
                    h4.heading.heading_size_l.address__heading mail@rupok.me
            // address

            // social-links
            .grid__row.social-links
              .grid__cell-md_size_12.grid__cell-lg_size_9.grid__cell-lg_offset_2
                ul.social-links__list
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-facebook fa-2x social-links__icon")
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-twitter fa-2x social-links__icon")
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-google-plus fa-2x social-links__icon")
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-github fa-2x social-links__icon")
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-dribbble fa-2x social-links__icon")
                  li.social-links__item
                    a(href="#", class="link social-links__link")
                      i(class="fa fa-slideshare fa-2x social-links__icon")
            // social-links end
          .grid__cell-md_size_6.contacts-location__map
            #map.map
        // contacts-location end
    // contacts end

    a.single-page__close(href="#") Закрыть
    a.single-page__scroll(href="#") Вниз
  // page-container end
