.single-page_scheme_olive {
  &:nth-child(1) {
    background: #191D21;
  }

  &:nth-child(2) {
    background: #1F2628;
  }

  &:nth-child(3) {
    background:  #273336;
  }

  &:nth-child(4) {
    background: #273a3f;
  }
}
