.single-page_scheme_colorful {
  &:nth-child(1) {
    background:#FF6F6F;
  }

  &:nth-child(2) {
    background:#0ED4C8;
  }

  &:nth-child(3) {
    background:#6bd57e;
  }

  &:nth-child(4) {
    background:#FE7C60;
  }
}
