.single-page_scheme_dark {
  &:nth-child(1) {
    background:#14151B;
  }

  &:nth-child(2) {
    background:#1A1B23;
  }

  &:nth-child(3) {
    background:#20212B;
  }

  &:nth-child(4) {
    background:#252733;
  }
}
