.single-page_is-loaded {
  /* move items in the viewport when background images have been loaded */
  transform: translateX(0);
}

/* screenwidth greater than 768px
-------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .single-page_is-loaded {
    /* show items when background images have been loaded */
    opacity:1;

    &:after {
      opacity:1;
    }

    & .single-page__title {
      opacity:1;
      transform: translateY(-50%);
      transition: transform 0.6s,opacity 0.6s,left .4s;
    }

    &.single-page_is-full-width {
      & .single-page__title {
        left:37.5vw;
        transition: transform 0.6s,opacity 0s,left .4s;
      }
    }
  }
}
/* screenwidth greater than 768px */

/* screenwidth greater than 1024px
-------------------------------------------------------------------------- */
@media only screen and (min-width: 1024px) {
  .single-page_is-loaded {
    &:after {
       opacity:0.15;
    }
  }
}
/* screenwidth greater than 1024px end */




