.employment__heading {
  color:#3f3f46;
  font-size:18px;
  letter-spacing:1px;
  padding:36px 0;
  text-transform: uppercase;
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .employment__heading {
    font-size: 16px;
    padding: 15px 0;
  }
}

/* screenwidth less than 479px
--------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
  .employment__heading {
    font-size: 13px;
  }
}

/* screenwidth less than 320px
--------------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  .employment__heading {
    font-size: 11px;
  }
}
