.contacts-form__input {
  background:none repeat scroll 0 0 transparent;
  border:1px solid #d9d9da;
  color:#3f3f46;
  font-size:14px;
  margin:15px auto;
  padding:20px;
  width:100%;

  &:focus {
    background:#F4F4F4;
  }
}

/* Medium Screen Mobile
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
  .contacts-form__input {
    padding: 15px;
    margin: 10px auto;
  }
}

::-webkit-input-placeholder {
  color:#3f4047;
  font-size:14px;
  font-family:"Lora", sans-serif;
}

:-moz-placeholder {
/* Firefox 18- */
  color:#3f4047;
  font-size:14px;
  font-family:"Lora", sans-serif;
}

::-moz-placeholder {
/* Firefox 19+ */
  color:#3f4047;
  font-size:14px;
  font-family:"Lora", sans-serif;
}

:-ms-input-placeholder {
  color:#3f4047;
  font-size:14px;
  font-family:"Lora", sans-serif;
}
