.facts__title {
  font-family:"Lora",serif;
  font-size:40px;
  letter-spacing:1px;
  margin:10px;
  padding:5px;
}

/* screenwidth less than 960px
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .facts__title {
    font-size: 28px;
    margin: 5px;
    padding: 5px;
  }
}

/* screenwidth less than 767px
--------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .facts__title {
    font-size: 20px;
  }
}

/* screenwidth less than 320px
--------------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  .facts__title {
    font-size: 18px;
    line-height: 18px;
  }
}
